body {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input_list {
    display: flex;
    flex-direction: column;
}

.input {
    width: 300px;
}

input {
    margin-bottom: 10px;
}